@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

.titleA {
    color:red;
    font-size: 5rem;
}

#content {
    width: 100%;
    height: 100%;
}

#navi {
    width:100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.navItem {
    margin: 1rem 2rem;
    cursor: pointer;
    font-size: 1.7rem;
    list-style: none;
}

.navItem::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display:block;
    position: relative;
    top:0;
    margin:0 auto;
    transition:0.3s;
}

.navItem:hover::after {
    width: 100%;
}